<!DOCTYPE html>
<html lang="en">
<head>
    <script src ='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<script th:inline="javascript">
    $(document).ready(function (){
        /*<![CDATA][*/
        $.get('/getMessage?idroom=' + /*[[${atr}]]*/ "Test",function(data){
            console.log(/*[[${atr}]]*/ "test");
            let table ="<table border = 1>"
            for(i = 0;i < data.length;i++){
                table = table +"<tr><td>"+ data[i].message + "</td><td>" + data[i].messageDate +"</td>"
            }
            table = table +"</table>"
            $("#test").html(table)
        });
        /*]].*/
    });

</script>
<body>
<div id="test"></div>
<div th:each="elements : ${post}">
    <form method="post">
        <input type="text" name="message" placeholder="type here" required>
        <a href="/lobby">to lobby</a>
    </form>
    <a th:href="'/lobby/' + ${elements.id} + '/edit' " class="btn btn-warning">Change name</a>
    <form th:action="'/lobby/' + ${elements.id} + '/delete'" method="post">
        <button class="btn btn-warning" type="submit">Delete</button>
    </form>

</div>
</body>
</html>
